body {

    margin: 0;
    padding: 0;
    background-color: #3b3d42;
    text-align: center;
    font-family:  sans-serif;
}

h1,
h2 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

a:hover {
    transition: .2s;
    color: darkgray;
}

.contgroups {
    margin: auto;
    margin-top: 30px; 
    padding-top: 10px; 
    padding-bottom: 50px; 
    width: 600px;
    background-color: #53575e;
    border-radius: 20px;
}
